language: ruby
rvm:
- 2.2.3
deploy:
  provider: heroku
  api_key:
    secure: CLgECCkDQnRoPh35wEIaBj5aJ8EFzDseX5IdGfhA4/MQ3HTd5x/S0B/2/kWljqXEx/0V9yW/WxANqXut3NZ82b07on+HmRX16+4OKC3Bnq7pQPu5jmwNJ6X6nyAvJNegkpSFlEERDhALhHT4Tl5xUXq/uIIMXsV6A6nzRBx7SzbMIw0kvqITbyhhKNKiDuVbUhKJEQH/VqcOD0yrOuxbUXMZnKZ/zkcep7C4Znjm+EJT5wBUyjHdJHrBpNKD1/TUkg/EmveZ7Mz0daWSWJdpMB5bvRZpFUpGCLG018axfBAibubrlyfsa+EQmplA2SbwoaIQjee9xC3ssxIJIwSdtE1SiLbnif8S4EHnnxgGpNOO2rA9ltA3WlbruLJbz2G9f5YKGYt9irBOR8fspzlNPJ/+l8eCpVtIgQxAjDlvofqaHYEyFGRUycGHQPQ8VlqX4jjuAjw/ju6xuPy33HErUEbKgT8idloW6IIsNR2HPPWSDFsTo3Y9WaYkx7hHwg7XI6wELyxZeHI0HhJAGRULW4L/Hn4a0HqJZ62lITvpPaV/dPros/Qain0Lwntt43afCR4cRNUsUW7e0xlhGeUefvfFMSLgxeU7RtxVwkPdY5lrcKBdI7EeDbAmVmxwPBpWn8njlCeEJIkg7PfsMU6b8V6DH1tCSGGEPd2Oxndll0g=
  app: spot-saver
  on: master
