<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <p>
      Welcome to <a href="http://spot-saver.herokuapp.com">Secret Spot Saver</a>!<br>
    </p>
    <p>Feel free to <a href="mailto:matt@matthewgyang.com">contact me</a> if you have any questions or comments!</p>
    <p></p>
    <p>Have a great day!</p>
    <p>- Matt</p>
  </body>
</html>
