<main ng-app="secretSpots">
  <header>
    <h1>Secret Spot Saver</h1>
  </header>

  <section ng-controller="signInCtrl as user" ng-hide="isAuthenticated">
    <div ng-hide="isAuthenticated">
      <h2 ng-hide="showSignUp">Sign In</h2>
      <form ng-submit="user.signIn()" ng-hide="showSignUp" novalidate>
        <div>
          <label for="inputEmail">Email Address</label>
          <input type="email" id="inputEmail" placeholder="Enter email" ng-model="user.credentials.email">
        </div>
        <div>
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" placeholder="Password" ng-model="user.credentials.password">
        </div>
        <input type="submit" value="Sign In" />
      </form>
      <div ng-hide="showSignUp">
        <p>Not a member?</p>
        <button ng-click="showSignUp = true">Sign up!</button>
      </div>
      <div ng-show="showSignUp">
        <form ng-submit="user.signUp()">
          <div>
            <label for="inputEmail">Email Address</label>
            <input type="email" id="newEmail" placeholder="Enter email" ng-model="user.newUser.email">
          </div>
          <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="newPassword" placeholder="Password" ng-model="user.newUser.password">
          </div>
          <div>
            <label for="inputPasswordConfirmation">Confirm Password</label>
            <input type="password" id="newPasswordConfirmation" placeholder="Confirm Password" ng-model="user.newUser.password_confirmation">
          </div>
          <input type="submit" value="Sign Up" />
        </form>
      </div>
    </div>
  </section>

  <div ng-controller="sessionCtrl as session" ng-show="isAuthenticated">
      <button ng-click="session.logout()" />Logout</button>
  </div>

  <section>

  </section>

  <section ng-controller="SpotsController as spotsCtrl" ng-show="isAuthenticated">
    <div ng-if="isAuthenticated">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true">
        <!-- <ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl"></ui-gmap-drawing-manager> -->
        <ui-gmap-markers models="spotMarkers" coords="'self'" click="onClick">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>
              <p><strong>{{name}}</strong></p>
              <p><strong>Water Type: </strong>{{waterType}}</p>
              <p><strong>Technique: </strong>{{technique}}</p>
              <p><strong>Created: </strong>{{createdOn | date }}</p>
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <button ng-click="centerMapOnUser()">Find Me</button>
    <button ng-click="showQuickSpot = !showQuickSpot"><a ng-hide="showQuickSpot">Quick Spot</a><a ng-show="showQuickSpot">Cancel Quick Spot</a></button>
    <div ng-show="showQuickSpot">
      <form name="newQuickForm" ng-submit="quickSpot(newQuick)" novalidate>
        <input ng-model="newQuick.name" type="text" placeholder="Spot Name" title="Name" />
        <select name="waterType" ng-model="newQuick.waterType">
          <option value="">water type (optional)</option>
          <option value="river">river</option>
          <option value="small stream">small stream</option>
          <option value="lake">lake</option>
          <option value="beach/salt water">beach/salt water</option>
          <option value="other">other</option>
        </select>
        <select name="technique" ng-model="newQuick.technique">
          <option value="">technique (optional)</option>
          <option value="dry fly">dry fly</option>
          <option value="chironomid">chironomid</option>
          <option value="nymph">nymph</option>
          <option value="swing">swing</option>
          <option value="troll">troll</option>
          <option value="other">other</option>
        </select>
        <textarea name="notes" ng-model="newQuick.notes" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div ng-repeat="spot in spots">
      <h3>{{spot.name}}</h3>
      <p>{{spot.notes}}</p>
      <button ng-click="centerOnSpot(spot)">Show in map</button>
      <button ng-click="deleteSpot(spot)">Delete</button>
      <button ng-click="showEdit = !showEdit"><a ng-hide="showEdit">Edit Spot</a><a ng-show="showEdit">Cancel Edit</a></button>
      <div ng-show="showEdit">
        <form name="editSpotForm" ng-submit="editSpot(spot)" novalidate>
          <input ng-model="spot.name" type="text" placeholder="Spot Name" title="Name" />
          <select name="waterType" ng-model="spot.waterType">
            <option value="">water type (optional)</option>
            <option value="river">river</option>
            <option value="small stream">small stream</option>
            <option value="lake">lake</option>
            <option value="beach/salt water">beach/salt water</option>
            <option value="other">other</option>
          </select>
          <select name="technique" ng-model="spot.technique">
            <option value="">technique (optional)</option>
            <option value="dry fly">dry fly</option>
            <option value="chironomid">chironomid</option>
            <option value="nymph">nymph</option>
            <option value="swing">swing</option>
            <option value="troll">troll</option>
            <option value="other">other</option>
          </select>
          <textarea name="notes" ng-model="spot.notes" cols="30" rows="10"></textarea>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </section>
</main>
