<main ng-app="secretSpots">
  <nav class="navbar navbar-inverse">
    <div id="welcomeHeader" class="navbar-header">
      <h4 id="navHeader" >Welcome!</h4>
    </div>
    <div class="container-fluid navbar-left" ng-show="isAuthenticated">
      <div class="navbar-header">
        <h4 id="navHeader">Signed in as: {{currentUserEmail}}</h4>
      </div>
    </div>
    <div class="container-fluid navbar-right" ng-controller="sessionCtrl as session" ng-show="isAuthenticated">
      <button type="button" class="btn btn-default navbar-btn" ng-click="session.logOut()">Log out</button>
    </div>
  </nav>
  <div class="page-header">
    <h1>Secret Spot Saver</h1>
    <h4>Save your fishing locations, on the fly!</h4>
  </div>

  <div class="container" ng-controller="signInCtrl as user" ng-hide="isAuthenticated">
    <div ng-hide="isAuthenticated">
      <form class="form-signin" ng-submit="user.signIn()" ng-hide="showSignUp" novalidate>
        <h2 class="form-signin-heading">Please sign in</h2>
        <fieldset class="form-group">
          <label for="inputEmail">Email Address</label>
          <input class="form-control" type="email" id="inputEmail" placeholder="Enter email" ng-model="user.credentials.email">
        </fieldset>
        <fieldset class="form-group">
          <label for="inputPassword">Password</label>
          <input class="form-control" type="password" id="inputPassword" placeholder="Password" ng-model="user.credentials.password">
        </fieldset>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
      </form>
      <div ng-hide="showSignUp">
        <p>Not a member?</p>
        <button class="btn btn-default" ng-click="showSignUp = true">Sign up!</button>
      </div>
      <div ng-show="showSignUp">
        <h2>Sign Up</h2>
        <form ng-submit="user.signUp()">
          <fieldset class="form-group">
            <label for="inputEmail">Email Address</label>
            <input class="form-control" type="email" id="newEmail" placeholder="Enter email" ng-model="user.newUser.email">
          </fieldset>
          <fieldset class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" type="password" id="newPassword" placeholder="Password" ng-model="user.newUser.password">
          </fieldset>
          <fieldset class="form-group">
            <label for="inputPasswordConfirmation">Confirm Password</label>
            <input class="form-control" type="password" id="newPasswordConfirmation" placeholder="Confirm Password" ng-model="user.newUser.password_confirmation">
          </fieldset>
          <input class="btn btn-primary" type="submit" value="Sign up!" />
          <button class="btn btn-default" ng-click="showSignUp = false">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <div ng-controller="sessionCtrl as session" ng-show="isAuthenticated">
      <button class="btn btn-default" ng-click="session.logout()" />Logout</button>
  </div>

  <section class="container" ng-controller="SpotsController as spotsCtrl" ng-show="isAuthenticated">
    <div class="container" ng-if="isAuthenticated">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true">
        <!-- <ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl"></ui-gmap-drawing-manager> -->
        <ui-gmap-markers models="spotMarkers" coords="'self'" click="onClick">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>
              <p><strong>{{name}}</strong></p>
              <p><strong>Water Type: </strong>{{waterType}}</p>
              <p><strong>Technique: </strong>{{technique}}</p>
              <p><strong>Created: </strong>{{createdOn | date }}</p>
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div ng-hide="showQuickSpot" class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="centerMapOnUser()">Find Me</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="showQuickSpot = !showQuickSpot">Quick Spot</button>
      </div>
    </div>
    <div ng-show="showQuickSpot">
      <form name="newQuickForm" ng-submit="quickSpot(newQuick)" novalidate>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <input class="btn btn-success" type="submit" value="Create Spot" />
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-warning" ng-click="showQuickSpot = !showQuickSpot">Cancel Quick Spot</button>
          </div>
        </div>
        <h4>Spot will be created at current location</h4>
        <fieldset class="form-group">
          <input class="form-control" ng-model="newQuick.name" type="text" placeholder="Spot Name" title="Name" />
        </fieldset>
        <fieldset class="form-group">
          <select class="form-control" name="waterType" ng-model="newQuick.waterType">
            <option value="">water type (optional)</option>
            <option value="river">river</option>
            <option value="small stream">small stream</option>
            <option value="lake">lake</option>
            <option value="beach/salt water">beach/salt water</option>
            <option value="other">other</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <select class="form-control" name="technique" ng-model="newQuick.technique">
            <option value="">technique (optional)</option>
            <option value="dry fly">dry fly</option>
            <option value="chironomid">chironomid</option>
            <option value="nymph">nymph</option>
            <option value="swing">swing</option>
            <option value="troll">troll</option>
            <option value="other">other</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea class="form-control" name="notes" placeholder="Notes" ng-model="newQuick.notes" cols="30" rows="10"></textarea>
        </fieldset>
      </form>
    </div>
    <div ng-repeat="spot in spots">
      <h3>{{spot.name}}</h3>
      <p>{{spot.notes}}</p>
      <div class="btn-group btn-group-justified" role="group" ng-hide="showEdit">
        <div class="btn-group" role="group" ng-hide="showDelete">
          <button class="btn btn-default" ng-click="centerOnSpot(spot)">Show in map</button>
        </div>
        <div class="btn-group" role="group" ng-hide="showDelete">
          <button class="btn btn-default" ng-click="directions(spot)">Directions</button>
        </div>
        <div class="btn-group" role="group" ng-hide="showDelete">
          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
          <ul class="dropdown-menu">
            <li><a ng-click="showEdit = !showEdit">Edit</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="showDelete = true">Delete</a></li>
          </ul>
        </div>
        <div class="btn-group" role="group" ng-show="showDelete">
          <button class="btn btn-danger" ng-click="deleteSpot(spot)">Confirm delete?</button>
        </div>
        <div class="btn-group" role="group" ng-show="showDelete">
          <button class="btn btn-default" ng-click="showDelete = false">Cancel delete</button>
        </div>
      </div>

<!--  <div ng-hide="showQuickSpot" class="btn-group" role="group">
          <button class="btn btn-default" ng-click="deleteSpot(spot)">Delete</button>
        </div> -->

      <div ng-show="showEdit">
        <form name="editSpotForm" ng-submit="editSpot(spot)" novalidate>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <input class="btn btn-success" type="submit" value="Submit Edit" />
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" ng-click="showEdit = !showEdit">Cancel Edit</button>
            </div>
          </div>
          <fieldset class="form-group">
            <input class="form-control" ng-model="spot.name" type="text" placeholder="Spot Name" title="Name" />
          </fieldset>
          <fieldset class="form-group">
            <select class="form-control" name="waterType" ng-model="spot.waterType">
              <option value="">water type (optional)</option>
              <option value="river">river</option>
              <option value="small stream">small stream</option>
              <option value="lake">lake</option>
              <option value="beach/salt water">beach/salt water</option>
              <option value="other">other</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <select class="form-control" name="technique" ng-model="spot.technique">
              <option value="">technique (optional)</option>
              <option value="dry fly">dry fly</option>
              <option value="chironomid">chironomid</option>
              <option value="nymph">nymph</option>
              <option value="swing">swing</option>
              <option value="troll">troll</option>
              <option value="other">other</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control" name="notes" placeholder="Notes" ng-model="spot.notes" cols="30" rows="10"></textarea>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</main>
