// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.angular-google-map-container {
  height: 330px;
  width: 330px;
  padding: auto;
  margin: 0 auto 10px auto;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #cccccc;
}

nav {
  margin-top: -40px;
}

#navHeader {
  color: white;
}

#welcomeHeader {
  margin-left: 30px;
}

#logoutContainer {
  padding-bottom: 10px;
  max-width: 300px;
}

#notesElement {
  max-width: 60px;
}

.page-header {
  max-width: 400px;
  border: 0;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 400px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  margin-top: 5px;
}
