<!DOCTYPE html>
<html>
<head>
  <title>Secret-Spot-Saver</title>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb4FKzgUIBNHbKfAbfwbEjJbH_ORh_WSQ&libraries=drawing">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
